.Collection {
}

.Collection-heading {
  @include text(2);
  margin-top: get-lines(1);
  margin-bottom: get-lines(1);
  font-weight: 600;
}

.Collection-list {
  margin-top: get-lines(1);
  margin-bottom: get-lines(1);
  padding-left: 0;
  list-style-type: none;
}

.Collection-item {
  @include text(1);
  margin-top: get-lines(1);
}

.Collection-date {
  @include text(0);
  display: block;
  color: var(--fg-weak);
}

.Collection-link {
  &:active {
    color: var(--fg-active);
  }
}

.Collection-keywordList {
  @include text(0);
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.Collection-keyword {
  &:nth-last-child(n+2)::after {
    content: ",";
  }
}
