{% extends "./_base.njk" %}

{% block main %}
  <main>
    <section class="Article">
      <header>
        <h2 class="Article-headline">{{ title | safe }}</h2>
        <div class="Article-meta">
          <p class="Article-date">
            公開：<time datetime="{{ published | isoDate }}" class="Article-published">{{ published | readableDate }}</time><br>
            更新：<time datetime="{{ updated | isoDate }}" class="Article-updated">{{ updated | readableDate }}</time>
          </p>
          <p class="Article-permalink">
            <a href="{{ page.url }}" rel="bookmark" title="このページの正式なURL">パーマリンク</a>
          </p>
        </div>
      </header>
      <div class="Article-body">
        {{ content | safe }}
      </div>
    </section>
  </main>
{% endblock %}

{% block footer %}
  {% include "../includes/partials/footer.njk" %}
{% endblock %}
