@use "../../config" as *;
@use "../../foundation/variables" as *;
@use "../../utils/functions" as *;

.Header {
}

.Header-heading {
  display: block;
  position: relative;
  margin-top: 0;
  margin-bottom: get-lines(4);
  padding-top: rem($config-line-gap * 0.5);
  padding-bottom: rem($config-line-gap * 0.5);
  width: get-lines(2, true);
  height: get-lines(2, true);
}
