.Page {
}

.Page-body {
  margin: 0 auto;
  padding-top: get-lines(1);
  padding-right: 1rem;
  padding-bottom: get-lines(1);
  padding-left: 1rem;
  max-width: 40rem;
  background-color: var(--bg-base);
  color: var(--fg-base);
}

.Page-main {
}
